@import "tailwindcss";

@theme {
  --color-primary: #3E7C7A;
  --color-primary-hover: #326462;
  --color-accent: #D97745;
  --color-accent-hover: #c06538;
  --color-dark-bg: #1F355E;
  --color-gray-bg: #F8F5EE;
  --color-text-main: #1C2B38;
  --color-text-muted: #6B7C85;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
